input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: gray;
  font-family: "Arial", sans-serif;
}
