.carousel-wrapper {
	overflow-x: hidden;
	flex: 1;
	min-width: max-content;
}

.carousel-container {
	position: absolute;
	display: flex;
	gap: 1rem;
	overflow-x: hidden;
	z-index: 40;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: rgba(255, 255, 255, 0.5);
}

.card-wrapper {
	background-color: white;
	position: relative;
	min-height: 35vw;
	min-width: 35vw;
	max-height: 35vw;
	max-width: 35vw;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 5px;
}

@media (max-width: 600px) {
	.card-wrapper {
		min-height: 55vw;
		min-width: 55vw;
		max-height: 55vw;
		max-width: 55vw;
	}
}

.card-overlay-wrapper {
	position: absolute;
	overflow: hidden;
	inset: 0;
	z-index: 40;
	height: 100%;
	width: 100%;
	background: rgba(128, 128, 128, 0.5);
}

.card-overlay-container {
	position: absolute;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-button {
	padding: 0.5rem;
	border-radius: 5px;
	font-size: smaller;
	background-color: white;
}
