* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

:root {
	--footer-height: 10vh;
}

html {
	position: relative; /*this added to remove useScroll warning*/
}

.outlined {
	border: 2px dashed black;
}
.outlined.red {
	border-color: red;
}
.outlined.orange {
	border-color: orange;
}

.outlined.purple {
	border-color: purple;
}

.outlined.blue {
	border-color: blue;
}
