* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
	overflow-x: hidden;
}

:root {
	--header-height: 10vh;
	--footer-height: 10vh;
}

html {
	position: relative; /*this added to remove useScroll warning*/
}
